/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container for the map and side panel */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.leaflet-zoom-anim
.leaflet-zoom-animated {
transition-timing-function: linear;
transition-duration: 100ms;
}
/* Leaflet Zoom Button*/
.leaflet-control-zoom-out {
    transition: transform .2s;
}
.leaflet-control-zoom-out:hover {
  transform: scale(1.08);
}
.leaflet-control-zoom-in {
    transition: transform .2s;
}
.leaflet-control-zoom-in:hover {
  transform: scale(1.08);
}

/* Side panel */
.side-panel {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 20%;
    height: 90vh;
    background: linear-gradient(#eeeeee, #666666);
    padding: 1%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 5000; /* Ensure it's on top of the map */
    overflow-y: auto;
    text-align: center;
    justify-content: center;
    cursor: default;
    font-family: 'Trebuchet MS', 'Helvetica';
}

.side-panel img {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-height: 45em;
  min-height: 15em;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
  transition: transform .2s;
}

#selectedImage:hover{
    transform: scale(1.02);
}

.side-panel text{
    font-family: 'Noto Sans';
    font-size: 22px;
}

#filterContainer {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 90%;
}

#filterSelectorContainer {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 90%;

}

/* bottom right git hub link */
#git-link {
    position: absolute;
    display: block;
    bottom: 3.5%;
    right: 1%;
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: transform .2s;
    z-index: 5000; /* Ensure it's on top of the map */
}
#git-link:hover {
  transform: scale(1.10); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#git-link:hover img{
  fill: #F2F2F2;
}
#git-link img {
    padding:10%;
    width: 80%;
    height: 80%;
    object-fit: scale-down;
}
#git-linktrial{
    z-index:5000;
}
/* Map container styles */
#map {
    height: 100vh;
    width: 100vw;
    position: relative; /* Ensure the map is the relative container for the floating panel */
}
/* Back Button */
#back-button {
    display: flex;
    justify-content: left; /* Center horizontally */
    margin-top: 10px;
    padding: 8px 12px;
    background-color: transparent;
    color: #999999;
    border: 3px solid #999999;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: bold;
    align-items: center;
}
#back-button:hover {
    background-color: #d3d3d3;
    color: #555555;
    border: 3px solid #555555;
}
.back-button > .arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid #999999;
    border-bottom: 2px solid #999999;
    position: relative;
    transform: rotate(135deg);
    margin: 0 6px;
    transition: all .3s ease;
}
.back-button > .arrow::before {
    display: block;
    background-color: #555555;
    width: 0px;
    transform-origin: middle;
    height: 5px;
    position: absolute;
    opacity: 1;
    bottom: calc(-2px / 2);
    transform: rotate(135deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.back-button:hover > .arrow {
    transform: rotate(135deg) translate(2px, 2px);
    border-color: text-hover-color;
    border-right: 2px solid #555555;
    border-bottom: 2px solid #555555;
}

.back-button:hover > .arrow::before {
    opacity: 1;
    width: 0px;
}

/* Mo  re Info Button */
#MoreInfoButton {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: transparent;
    border-radius:2px;
    border: 3px solid #d3d3d3;
    cursor: pointer;
    color:#d3d3d3;
    transition: all .3s ease;
    font-weight: bold;
}
.MoreInfoButton {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 20px;
}
#MoreInfoButton:hover{
    color: #555555;
    background-color: #d3d3d3;
    border: 3px solid #555555;

}

#reset-filter {
    position:relative;
    justify-content: center;
    background-color: #d3d3d3;
    border-radius:2px;
    cursor: pointer;
    margin-top: 25px;
    padding: 8px 12px;
    background-color: transparent;
    border: 3px solid #d3d3d3;
    cursor: pointer;
    color:#d3d3d3;
    transition: all .3s ease;
    font-weight: bold;

}
#reset-filter:hover{
    color: #555555;
    background-color: #d3d3d3;
    border: 3px solid #555555;
}

/* Table */
table {
    margin-top: 25px;
    text-align: center;
    border: solid #222222;
    border-radius:2px;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    border-style: hidden;
    border-collapse: collapse;
}
/* Table Cells*/
th-header div{
 border: 1px solid white;
 padding: 5pt;
}

td, th {
    width:50%;
    height:50%;
    padding: 5pt;
}
tr {
    border-bottom: 1pt solid #D3D3D3;
}
/* First Table Cell*/
th:first-of-type {
  border-top-left-radius: 2px;
}
th:last-of-type {
  border-top-right-radius: 2px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 2px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 2px;
}
/* Table Text */
.th-text {
    color: #555555;
}
.cell1-text {
    color: #555555;
}
.cell2-text {
    color: #555555;
}

/* Dropdown */
.dropdown {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    width: 100%;
    padding: 6px 10px;
    background-color: #d3d3d3;
    text-align: center;
    justify-content: center;
    border-radius:2px;
    border: 2px solid #505050;
    cursor: pointer;
    color:#555555;
    font-size:110%;
    font-weight: bold;
}
.dropdown-container {
    display: flex;
    justify-content: center;
}

#filterSelector{
    background-color: #707070;
    color:#F5F5F5;
    margin-top: 0;
}

.hidden {
display: none;
}

.writer-link {
    cursor:pointer;
}
.director-link {
    cursor:pointer;
}
.actor-link {
    cursor:pointer;
}

h2 {
    font-size: 26px;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: white !important;
    background-color: rgba(80,80,80,0.6);
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 7.5em;
  width: auto;
  margin-top: -2.75em;
  padding: 0.5em;
  color: #d3d3d3 !important;
  left:0.5em;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 2px 2px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  top: 7.5em;
  width: auto;
  margin-top: -2.75em;
  padding: 0.5em;
  color: #d3d3d3 !important;
  right:0.5em;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 2px 0 0 2px;
  user-select: none;
}
#prev{
color = white;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 3;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

.slideShowContainer {
    padding: 0.7em;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    radius: 2px;
    position: relative;
}
#homeImage {
    width:100%;
    box-shadow:none;
    height: 15em;
    cursor: pointer;
}


.leaflet-popup-content-wrapper {
    border-radius: 2px !important;
    padding: 1px !important; /* Padding around the content */
    background-color: #f9f9f9 !important; /* Background color */
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px !important;
}
.leaflet-popup-content {
    margin: 4px 4px !important;
}
.leaflet-popup-tip {
    width: 22px;
    height: 14px;
    margin: -10px auto 0 !important;
    position: relative !important;
    background: transparent;
    pointer-events: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #f9f9f9 !important; /* Background color */
}

.leaflet-popup-tip-container {
    position: absolute;
    width: 40px !important;
    height: 20px !important;
    left: 50% !important;
    margin-left: -20px !important;
    overflow: hidden !important;
    pointer-events: none !important;
}

.expand-Image {
    position: absolute;
    width: 50%;
    height: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    border-radius: 2px;
    padding: 0.7em;
}
.expand-Image img{
    width: 100%;
    height: auto;
}

/* Close button styling */
.closeButton {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 2%;
  width: 2em;
  height: 2em;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.closeButton:hover {
    color: white !important;
    background-color: rgba(80,80,80,0.6);
}
.writer-link {
    color: #5d6ff5;
}
.director-link {
    color: #5d6ff5;
}
.actor-link {
    color: #5d6ff5;
}


