/* styles.css */

body{
    margin: 0;
    padding: 0;
}
#map {
    width: 100vw;
    height: 100vh;
}
.leaflet-zoom-anim
.leaflet-zoom-animated {
transition-timing-function: linear;
transition-duration: 100ms;
}
tag.map.title <- tags$style(HTML("
  .leaflet-control.map-title {
    transform: translate(-50%,20%);
    position: fixed !important;
    left: 50%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255,255,255,0.75);
    font-weight: bold;
    font-size: 28px;
  }
"))